body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 1.4;
  color: #ffffff;
  background-image: linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg')
}

h1, p {
  text-align: center;
}

#description {
  font-style: italic;
}

label {
  display: block;
  margin: 0.5rem 0;
}

form {
  max-width: 500px;
  min-width: 300px;
  width: 100vw;
  margin: auto;
  background-color: rgba(27, 27, 50, 0.8);
  border-radius: 0.25rem
}

input, select, textarea {
  width: 100%;
  min-height: 2rem
}

input {
  margin-bottom: 1rem;
}

.inline {
  width: unset;
  min-height: unset;
  margin-bottom: unset;
}

fieldset {
  border: none;
  border-radius: 0.25rem;
}

textarea {
  height: 4rem;
  font-family: sans-serif;
}

#submit {
  width: 
}
